/*  your css code here. If applicable */
*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}


body{
	display:flex;
	justify-content:center;
	align-items:center;
	min-height:100vh;
}

.container{
	padding:40px;
	border-radious:10px;
	text-align:center;
	max-width:400px;
	width:90%
}

.code-container{
	display:flex;
	justify-content:center;
	gap:10px;
}

.code{
	width:50px;
	height:50px;
	border:2px solid #ddd;
	border-radius:10px;
	text-align:center;
	font-size:25px;
	font-weight:600;
	color:grey;
	
}